version: 2
updates:
  - package-ecosystem: "github-actions"
    directory: "/"
    commit-message:
      prefix: ci
    groups:
      actions:
        patterns:
          - "*"
    schedule:
      interval: "weekly"

  - package-ecosystem: "docker-compose"
    directory: "/"
    commit-message:
      prefix: compose
    schedule:
      interval: "weekly"
