## Default values for zulip.
## This is a YAML-formatted file.
##
## Declare variables to be passed into your templates.
## If you make any changes to the documentation here, regenerate the README.md
## with:
##
## ```
## docker run --rm --volume "$(pwd):/helm-docs" -u $(id -u) jnorwood/helm-docs:latest
## ```

image:
  ## Defaults to https://ghcr.io/zulip/zulip-server, but can be
  ## overwritten with a full HTTPS address.
  repository: ghcr.io/zulip/zulip-server
  ## Pull policy for Zulip docker image.
  ## Ref: https://kubernetes.io/docs/concepts/containers/images/#pre-pulled-images
  pullPolicy: IfNotPresent
  ## Zulip image tag (immutable tags are recommended)
  tag: "11.5-2"

## Global Docker registry secret names as an array.
imagePullSecrets: []

## Partially override zulip.fullname template (will maintain the release name).
nameOverride: ""

## Fully override zulip.fullname template.
fullnameOverride: ""

serviceAccount:
  ## Specifies whether a service account should be created.
  create: true
  ## Annotations to add to the service account.
  annotations: {}
  ## The name of the service account to use.
  ## If not set and create is true, a name is generated using the fullname template
  name: ""

## Custom labels to add to the Zulip StatefulSet.
statefulSetLabels: {}
## Custom annotations to add to the Zulip StatefulSet.
statefulSetAnnotations: {}

##  Custom labels to add to the Zulip Pod.
podLabels: {}
## Custom annotations to add to the Zulip Pod.
podAnnotations: {}

## Can be used to override the default PodSecurityContext (fsGroup,
## runAsUser and runAsGroup) of the Zulip _Pod_.
podSecurityContext:
  {}
  # fsGroup: 1000
  # runAsUser: 1000
  # runAsGroup: 1000

## Can be used to override the default SecurityContext of the Zulip _container_.
securityContext:
  {}
  # capabilities:
  #   drop:
  #   - ALL
  # readOnlyRootFilesystem: true
  # runAsNonRoot: true
  # runAsUser: 1000

## Service type and port for the Kubernetes service that connects to
## Zulip. Default of ClusterIP needs an Ingress to be used.
service:
  type: ClusterIP
  port: 80
  annotations: {}

ingress:
  ## Enable this to use an Ingress to reach the Zulip service.
  enabled: false
  ## Can be used to add custom Ingress annotations.
  annotations:
    {}
    # cert-manager.io/cluster-issuer: letsencrypt-prod
  hosts:
    ## Host for the Ingress. Should be the same as
    ## `zulip.environment.SETTING_EXTERNAL_HOST`.
    - host: zulip.example.com
      ## Serves Zulip root of the chosen host domain.
      paths:
        - path: /
  ## Set a specific secret to read the TLS certificate from. If you
  ## use cert-manager, it will save the TLS secret here. If you do
  ## not, you need to manually create a secret with your TLS
  ## certificate.
  tls: []
  #  - secretName: chart-example-tls
  #    hosts:
  #      - zulip.example.com
  ## Provide an explicit className for the ingress
  className:

resources:
  {}
  ## We usually recommend not to specify default resources and to
  ## leave this as a conscious choice for the user. This also
  ## increases chances charts run on environments with little
  ## resources, such as Minikube. If you do want to specify resources,
  ## uncomment the following lines, adjust them as necessary, and
  ## remove the curly braces after 'resources:'.
  # limits:
  #   cpu: 100m
  #   memory: 128Mi
  # requests:
  #   cpu: 100m
  #   memory: 128Mi

## Optionally add a nodeSelector to the Zulip pod, so it runs on a specific
## node.
## Ref: https://kubernetes.io/docs/concepts/scheduling-eviction/assign-pod-node/#nodeselector
nodeSelector: {}

## Tolerations for pod assignment.
## Ref: https://kubernetes.io/docs/concepts/configuration/taint-and-toleration/
tolerations: []

## Affinity for pod assignment.
## Ref: https://kubernetes.io/docs/concepts/configuration/assign-pod-node/#affinity-and-anti-affinity
affinity: {}

zulip:
  ## Zulip Docker settings and configuration
  ## Ref: https://zulip.readthedocs.io/projects/docker/en/latest/reference/environment-vars.html
  environment:
    ## Trust the gateway, for health checks and proxy headers
    TRUST_GATEWAY_IP: true
  ## If `persistence.existingClaim` is not set, a PVC (Persistent
  ## Volume Claim) is generated with these specifications.
  persistence:
    enabled: true
    accessMode: ReadWriteOnce
    size: 10Gi
    ## Set storageClass to use.
    storageClass:
    ## Use an already existing PVC
    # existingClaim: ""

## Liveness probe values.
## Ref: https://kubernetes.io/docs/concepts/workloads/pods/pod-lifecycle/#container-probes
livenessProbe:
  enabled: true
  initialDelaySeconds: 10
  periodSeconds: 10
  timeoutSeconds: 5
  failureThreshold: 3
  successThreshold: 1
## Startup probe values.
## Ref: https://kubernetes.io/docs/concepts/workloads/pods/pod-lifecycle/#container-probes
startupProbe:
  enabled: true
  initialDelaySeconds: 10
  periodSeconds: 10
  timeoutSeconds: 5
  failureThreshold: 30
  successThreshold: 1

postSetup:
  ## The Docker entrypoint script runs commands from `/data/post-setup.d` after
  ## the Zulip application's Setup phase has completed. Scripts can be added here
  ## as `script_filename: <script contents>` and they will be mounted in
  ## `/data/post-setup.d/script_filename`.
  scripts:
    {}
    # scriptName.sh: |
    #   #!/bin/bash
    #   echo "This script is executed in the Zulip container after installation/migrations."

## You can add any sidecar to Zulip, like a minio client to use for
## uploading backups to a bucket, and mounting the volume for Zulip.
# sidecars:
#   - image: minio/mc
#     name: minio-client
#     volumeMounts:
#       - name: zulip-data
#         mountPath: /data
sidecars: []

## Associated extra objects -- for example, secrets for use with valueFrom.
# extraObjects:
#   - apiVersion: secrets-store.csi.x-k8s.io/v1
#     kind: SecretProviderClass
#     metadata:
#       name: aws-zulip-credentials
#       namespace: zulip
#     spec:
#       provider: aws
#       parameters:
#         objects: |
#           - objectName: "zulip-credentials"
#             objectType: "secretsmanager"
extraObjects: []

## Bitnami requires this to override PostgreSQL image
global:
  security:
    allowInsecureImages: true

## PostgreSQL settings, see [Requirements](#Requirements).
## Set postgresql.enabled to false and configure externalPostgresql to use a pre-existing server.
postgresql:
  enabled: true
  primary:
    containerSecurityContext:
      # 70 is the standard uid/gid of the "postgres" user in Alpine, which is
      # used as the base for zulip/zulip-postgresql
      # https://github.com/docker-library/postgres/blob/23987751b63ce745bd27b1119ab29dc4a1ffd728/Dockerfile-alpine.template#L7
      runAsUser: 70
      runAsGroup: 70
      readOnlyRootFilesystem: false
  ## We need to override the Postgresql image to get all the plugins Zulip needs
  image:
    repository: zulip/zulip-postgresql
    tag: 14
  auth:
    username: zulip
    database: zulip

## Rabbitmq settings, see [Requirements](#Requirements).
## Set rabbitmq.enabled to false and configure externalRabbitmq to use a pre-existing server.
rabbitmq:
  enabled: true
  image:
    # TODO: This image is no longer updated, and will need to be updated to one which is.
    repository: bitnamilegacy/rabbitmq
    tag: 4.1.3
  auth:
    username: zulip
  ## Set this to true if you need the rabbitmq to be persistent
  persistence:
    enabled: false

## Memcached settings, see [Requirements](#Requirements).
## Set memcached.enabled to false and configure externalMemcached to use a pre-existing server.
memcached:
  enabled: true
  image:
    # TODO: This image is no longer updated, and will need to be updated to one which is.
    repository: bitnamilegacy/memcached
    tag: latest
  memcachedUsername: "zulip@localhost"

## Redis settings, see [Requirements](#Requirements).
## Set redis.enabled to false and configure externalRedis to use a pre-existing server.
redis:
  enabled: true
  image:
    # TODO: This image is no longer updated, and will need to be updated to one which is.
    repository: bitnamilegacy/redis
    tag: latest
  architecture: standalone
  master:
    persistence:
      enabled: false

## External PostgreSQL configuration.
## Used when postgresql.enabled is set to false.
externalPostgresql:
  host: ""
  port: 5432
  database: "zulip"
  user: "zulip"
  password: ""
  sslmode: ""

## External RabbitMQ configuration.
## Used when rabbitmq.enabled is set to false.
externalRabbitmq:
  host: ""
  port: 5672
  user: "zulip"
  password: ""

## External Memcached configuration.
## Used when memcached.enabled is set to false.
externalMemcached:
  host: ""
  port: 11211
  user: ""
  password: ""

## External Redis configuration.
## Used when redis.enabled is set to false.
externalRedis:
  host: ""
  port: 6379
  password: ""
