## 1. Replace each occurrence of "set-secure-password" with a
##    different random password and uncomment it.
##
## 2. Replace each occurrence of "zulip.example.com" with the domain
##    you want Zulip to be reached on.
##
## --> https://zulip.readthedocs.io/projects/docker/en/latest/how-to/helm-getting-started.html

zulip:
  ## See https://zulip.readthedocs.io/projects/docker/en/latest/reference/environment-vars.html
  ## for configuration
  environment:
    ## All standard Zulip settings are prefixed with SETTING_
    ##
    ## --> https://zulip.readthedocs.io/projects/docker/en/latest/how-to/helm-settings.html
    ##     https://zulip.readthedocs.io/en/stable/production/settings.html
    ##
    ## The following settings are required:
    SETTING_EXTERNAL_HOST: zulip.example.com
    SETTING_ZULIP_ADMINISTRATOR: 'admin@example.com'

    ## The secret_key secret is also required.  You can provide it
    ## explicitly, or pull it from a Kubernetes Secret:
    ##
    ## --> https://zulip.readthedocs.io/projects/docker/en/latest/how-to/helm-settings.html#referencing-kubernetes-secrets-with-valuefrom
    ##
    # SECRETS_secret_key: set-secure-secret-key

## To deploy behind an ingress controller (e.g., Traefik) and cert-manager:
##
## --> https://zulip.readthedocs.io/projects/docker/en/latest/how-to/helm-ssl.html
ingress:
  enabled: true
  className: traefik
  annotations:
    cert-manager.io/cluster-issuer: letsencrypt-prod
  hosts:
    - host: zulip.example.com
      paths:
      - path: /
  tls:
    - secretName: zulip-tls
      hosts:
        - zulip.example.com

## To use existing external services, and have this chart omit its
## dependent services:
##
## --> https://zulip.readthedocs.io/projects/docker/en/latest/how-to/helm-existing-services.html

memcached:
  # memcachedPassword: set-secure-password

rabbitmq:
  auth:
    # password: set-secure-password
    # erlangCookie: set-secure-password

redis:
  auth:
    # password: set-secure-password

postgresql:
  auth:
    ## postgres admin user password
    # postgresqlPassword: set-secure-password
    ## postgres zulip user password
    # password: set-secure-password

