---
services:
  zulip:
    environment:
      ZULIP_AUTH_BACKENDS: EmailAuthBackend,ZulipLDAPAuthBackend
      ZULIP_CUSTOM_SETTINGS: |
        # Custom settings start here
        from django_auth_ldap.config import GroupOfUniqueNamesType
      SETTING_EXTERNAL_HOST: 4-you.example.com
      SETTING_INSTALLATION_NAME: "We love Apos'trophes and Back\\slashes"
      SETTING_AUTH_LDAP_SERVER_URI: ldaps://ldap.example.com
      SETTING_AUTH_LDAP_GROUP_TYPE: GroupOfUniqueNamesType()
      SETTING_AUTH_LDAP_USER_SEARCH: |
        LDAPSearch(
            "ou=users,dc=example,dc=com", ldap.SCOPE_SUBTREE, "(sAMAccountName=%(user)s)"
        )
      SETTING_AUTH_LDAP_USER_ATTR_MAP: '{"full_name": "cn", "unique_account_id": "dn"}'
      SETTING_LDAP_SYNCHRONIZED_GROUPS_BY_REALM: |
        {
          "subdomain1": [
              "group1",
              "group2",
          ]
        }
      SETTING_LDAP_DEACTIVATE_NON_MATCHING_USERS: TRUE
      SETTING_LDAP_APPEND_DOMAIN: none
      SETTING_LDAP_EMAIL_ATTR: None
      SETTING_ALLOWED_HOSTS: '["somehost.example.com", "otherhost.example.com"]'
      SETTING_OUTGOING_WEBHOOK_TIMEOUT_SECONDS: 30
