---
services:
  zulip:
    networks: [zulip-backend]

  database:
    networks: [zulip-backend]
  memcached:
    networks: [zulip-backend]
  rabbitmq:
    networks: [zulip-backend]
  redis:
    networks: [zulip-backend]

networks:
  zulip-backend:
    driver: bridge
    ipam:
      driver: default
      config:
        - subnet: 172.28.0.0/16
          ip_range: 172.28.5.0/24
          gateway: 172.28.5.254
