---
name: Build and push `main` image

on:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write
    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Log in to GHCR
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Get commit SHA for current 11.x tip
        id: get-sha
        run: |
          COMMIT=$(git ls-remote https://github.com/zulip/zulip.git refs/heads/11.x | cut -f1)
          echo "commit_sha=$COMMIT" >> $GITHUB_OUTPUT

      - name: Build and push Docker image
        uses: docker/build-push-action@v6
        with:
          context: .
          push: true
          pull: true
          tags: ghcr.io/${{ github.repository }}:${{ github.ref_name }}
          build-args: |
            ZULIP_GIT_REF=${{ steps.get-sha.outputs.commit_sha }}
          cache-from: type=gha
          cache-to: type=gha,mode=max
