---
name: Cleanup closed PR images

on:
  pull_request:
    branches:
      - main
    types: [closed]

jobs:
  cleanup:
    runs-on: ubuntu-latest
    permissions:
      packages: write
    steps:
      - name: Delete PR image
        uses: actions/delete-package-versions@v5
        with:
          package-name: "docker-zulip"
          package-type: "container"
          token: ${{ secrets.GITHUB_TOKEN }}
          tag-name: pr-${{ github.event.pull_request.number }}

      - name: Delete untagged images from GHCR
        uses: actions/delete-package-versions@v5
        with:
          package-name: "docker-zulip"
          min-versions-to-keep: 0
          token: ${{ secrets.GITHUB_TOKEN }}
          delete-only-untagged-versions: true
