---
name: Lint markdown files prettier

on:
  pull_request:
    branches:
      - main

permissions: {}

jobs:
  prettier:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6
        with:
          persist-credentials: false
      - uses: creyD/prettier_action@8c18391fdc98ed0d884c6345f03975edac71b8f0 # v4.6
        with:
          dry: true
          prettier_options: "--write **/*.md"
      - name: Check for any diff
        run: |
          if ! git diff --exit-code; then
            echo "Changes found!"
            git status
            git diff
            exit 1
          fi
