---
name: Shell check and lint

on:
  pull_request:
    branches:
      - main
      - next

permissions: {}

jobs:
  shellcheck:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6
        with:
          persist-credentials: false
      - uses: luizm/action-sh-checker@883217215b11c1fabbf00eb1a9a041f62d74c744 # master
