---
name: Shell check and lint

on:
  pull_request:
    branches:
      - main
      - next

jobs:
  shellcheck:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: luizm/action-sh-checker@master
