---
name: Spelling

on:
  pull_request:
    branches:
      - main

permissions: {}

jobs:
  spelling:
    name: Spellcheck with Typos
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6
        with:
          persist-credentials: false
      - name: Spell Check Repo
        uses: crate-ci/typos@ad3053d3adbcce7f2e3c60fd4ddfc239787d1eff # v1.43.2
