---
name: Spelling

on:
  pull_request:
    branches:
      - main

jobs:
  spelling:
    name: Spellcheck with Typos
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - name: Spell Check Repo
        uses: crate-ci/typos@v1.39.0
